@font-face {
    font-family: 'archonormal';
    src: url('../fonts/Archistico_Simple-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'techregular';
    src: url('../fonts/TechnaSans-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'archonormal';
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

h2 {
    font-family: 'archonormal';
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

h3 a {
    font-family: 'techregular';
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

h4 {
    font-family: 'techregular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

blockquote {
    font-family: 'techregular';
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'techregular';
    font-weight: normal;
    font-style: normal;
}

nav{
    width: 100%;
    height: 75px;
    background-color: black;
}

nav ul li{
    color: white;
    font-size: 65px;
    font-family: 'archonormal';
    list-style-type: none;
    float: left;
}

nav ul li a{
    color: white;
    text-decoration: none;
    margin: 18px;
}

nav ul li a:hover{
    color:rgb(204, 170, 17);
}

body {
        font-family: 'techregular';
        font-weight: normal;
        font-style: normal;    
}

body{
	background-color: rgb(122, 176, 247);
}

/* still unable to keep inline. about us moves from left to right. continue looking for solution */
.container.col.col-slider1 {
    position: absolute;
    display: inline-block;
    width: 45%;
    margin: 20px;
    padding: 35px;
}

.container.col.col-slider2 {
    display: inline-block;
    position: absolute;
    width: 45%;
    margin: 20px;
    padding: 35px;
}

.slide1, .slide2 {
    position: relative;
    float: left;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    width: 30%;
    margin: 10px;
    padding: 35px;
}
